body
{
	font-family: Helvetica;
	background-color: #eef;
}

#content
{
	width: 600px;
	margin: auto;
	padding: 8px;
	background-color: #fff;
	min-height: 500px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

h1
{
	font-size: 20px;
}

h2
{
	font-size: 16px;
	clear: left;
}

dl
{
	margin-left: 16px;
}

dt
{
	color: #1060b6;
}


.tagEditor
{
	margin: 4px 0;
	padding: 0;
}

.tagEditor li
{
	display: inline;
	background-image: url(minus_small.png);
	background-color: #eef;
	background-position: right center;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0 18px 0 6px;
	margin: 0 4px;	
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tagEditor li:hover
{
	background-color: #eee;
}