@model IEnumerable<nhibernate_demo.Models.Grain>

@{
    ViewBag.Title = "Grains";
}

<script type="text/javascript">
    var model = @Html.Raw(nhibernate_demo.JsonSerialization.IEnumerableExtensions.ToJson(Model))
    $(document).ready(function () {
       refreshTable();
    });

    function deleteItem(id)
    {
        
        $.post("/Grain/DeleteAjax", { id: id}, function()
        {
            refreshTable();
        });
    }

    function refreshTable()
    {
        $.get("/Grain/IndexJson", function(json){
            model = json;
            var text = new EJS({ url: "@Url.Content("~/templates/Grain/Index.ejs")", cache: true}).render({data: model});
            $("#indexTable").html(text);
        });
    }
</script>

<h2>Grains</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="indexTable">


</div>

